body{
	background-image: url(../img/pasto.jpg);
	background-size: 460px 220px;
}
img{
	width: 350px;
	height: 200px;
}
@keyframes animacion{
	20%{transform: translate(500px);}
	40%{transform: translate(1000px);}
	60%{transform: translate(1000px,200px);}
	80%{transform: translate(500px, 200px);}	
	100%{transform: translate(0px, 200px);}
}
img:hover{
	animation-name: animacion;
	animation-duration: 2s; 
}