*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: #F2F2F2;
	font-family: arial, sans-serif;
}
.formulario{
	background: #FFF;
	width: 500px;
	margin:20px auto;
	padding: 20px;
	border-radius: 5px; 
}
.formulario input{
	display: block;
}
.formulario input[type="text"],
.formulario input[type="E-mail"],
.formulario textarea{
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 3px;
	border:1px solid #226FC1;
	font-family: arial;
	font-size: 16px;
}
.formulario textarea{
	min-height: 120px;
	max-height: 300px;
	min-width: 100%;
	max-width: 100%; 
}
.formulario input[type="Text"]:focus,
.formulario input[type="E-mail"]:focus,
.formulario textarea:focus{
	border: 2px solid#4FB560;
}
.formulario input[type="submit"]{
	width: 200px;
	margin: 0 auto;
	background: none;
	border: 1px solid #4FB560;
	color: #4FB560;
	padding: 10px;
	font-size: 16px;
	border-radius: 3px;
	cursor: pointer;
}
.formulario input[type="submit"]:hover{
	background: #4FB560;
	color:#FFf;
}
