h1 {
    color: #4db053;
}
h2 {
    color: aqua;
}
h3 {
    color: rgb(68, 68, 183);
}
h4 {
    color: rgb(20%, 29%, 35%);
}
div p {
    color: #97b04d7e;
}
p {
    color: rgba(211, 211, 50, 0.555);
}